# Vite envs
VITE_APP_MODE=
VITE_BACKEND_URL_DEV=
VITE_BACKEND_URL_PROD=
VITE_FRONTEND_URL_DEV=
VITE_FRONTEND_URL_PROD=

BETTER_AUTH_SECRET='get from https://www.better-auth.com/docs/installation'
BETTER_AUTH_URL='frontend url'
