.sidebar-title {
  text-align: center;
}

.drawer-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.login-button {
  display: flex;
  width: 100%;
  justify-content: end;
  padding: 1rem;
}
