@font-face {
  font-family: "FoundersGrotesk";
  src: url("/fonts/FoundersGrotesk-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: "FoundersGrotesk", Helvetica, Arial, sans-serif;
}

.app-container {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  align-items: center;
}

.top-nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
