name: Frontend CI

on:
  push:
    branches: [ main ]
    paths:
      - "dashboard/src/**"
      - "dashboard/public/**" 
      - "dashboard/package.json"
  workflow_dispatch:
    

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}/frontend

jobs:
  # Job 1: Build & Test
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./dashboard
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with: { node-version: '18' }
      - run: npm install
      
  # Job 2: Push Docker Image
  push-image:
    needs: build-and-test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      image_tag: ${{ steps.meta.outputs.tags }}
    steps:
      - uses: actions/checkout@v4
      
      - name: Log in to Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: type=raw,value=latest

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./dashboard
          file: ./dashboard/src/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}

  # Job 3: Call Global CD
  deploy-frontend:
    needs: push-image
    uses: ./.github/workflows/Global-CD.yml
    with:
      service_name: frontend
      # We force lowercase for the repo name just in case
      image_name: ghcr.io/${{ github.repository }}/frontend:latest
      host_port: "5173"
      container_port: "5173"
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST_DASHBOARD_VM }}
      SSH_USER: ${{ secrets.SSH_DASHBOARD_VM_USER }}
      SSH_KEY: ${{ secrets.DASHBOARD_VM_SSH_KEY }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}